# VerificationStatus Enumeration
 

**Namespace:**&nbsp;<a href="N_Lextm_SharpSnmpPro_Mib">Lextm.SharpSnmpPro.Mib</a><br />**Assembly:**&nbsp;SharpSnmpPro.Mib (in SharpSnmpPro.Mib.dll) Version: 2.1.2

## Syntax

**C#**<br />
``` C#
public enum VerificationStatus
```

**VB**<br />
``` VB
Public Enumeration VerificationStatus
```

**C++**<br />
``` C++
public enum class VerificationStatus
```

**F#**<br />
``` F#
type VerificationStatus
```


## Members
&nbsp;<table><tr><th></th><th>Member name</th><th>Value</th><th>Description</th></tr><tr><td /><td target="F:Lextm.SharpSnmpPro.Mib.VerificationStatus.Unknown">**Unknown**</td><td>0</td><td /></tr><tr><td /><td target="F:Lextm.SharpSnmpPro.Mib.VerificationStatus.InProgress">**InProgress**</td><td>1</td><td /></tr><tr><td /><td target="F:Lextm.SharpSnmpPro.Mib.VerificationStatus.Verified">**Verified**</td><td>2</td><td /></tr><tr><td /><td target="F:Lextm.SharpSnmpPro.Mib.VerificationStatus.Failed">**Failed**</td><td>3</td><td /></tr></table>

## See Also


#### Reference
<a href="N_Lextm_SharpSnmpPro_Mib">Lextm.SharpSnmpPro.Mib Namespace</a><br />